body{
font-family:Arial;
background:#0b0b0b;
color:white;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

min-height:100vh;
margin:0;
}

/* Title */

h1{
color:#DC0000;
margin-bottom:20px;
letter-spacing:1px;
}

/* Main container */

.container{
width:450px;
background:#181818;

padding:25px;

border-radius:12px;

border:3px solid #DC0000;

box-shadow:
0 0 12px #DC0000,
0 0 30px rgba(220,0,0,0.7);
}

/* Inputs */

input{
width:92%;
padding:10px;

margin:8px 0;

border-radius:6px;

border:1px solid #DC0000;

background:#111;
color:white;
}

/* Buttons */

button{
padding:10px 14px;

margin:6px;

background:#DC0000;

color:white;

border:none;

border-radius:6px;

font-weight:bold;

cursor:pointer;

transition:0.3s;
}

button:hover{

background:#a30000;

transform:scale(1.05);

}

/* Table */

table{

width:100%;

margin-top:20px;

border-collapse:collapse;

background:white;

color:black;

}

th{

background:#DC0000;

color:white;

}

th,td{

border:1px solid gray;

padding:6px;

}

/* Progress bar */

.progress{

width:100%;

height:10px;

background:#333;

margin-top:10px;

border-radius:5px;

}

#progressBar{

height:10px;

width:0%;

background:#DC0000;

border-radius:5px;

}

/* Graph */

canvas{

margin-top:20px;

background:white;

border-radius:6px;

}
